# Python
__pycache__/
*.py[cod]
.env
.venv
venv/

# Jupyter
.ipynb_checkpoints/

# Modèles lourds
models/*.pkl
models/*.joblib

# IDE
.vscode/
.idea/
.DS_Store

# MLflow
mlruns/

# Streamlit
.streamlit/secrets.toml
